<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apkits.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="8" />

    <!-- JUnit权限 -->
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <instrumentation android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="com.apkits.android"
        android:label="JUnit Test"/>
    
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".view.SplashScreenEx"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- JUnit测试 -->
        <uses-library android:name="android.test.runner" />
    </application>

</manifest>